# -------- Secret (credentials) --------
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: lab7
type: Opaque
data:
  # base64("rootuser")
  accesskey: cm9vdHVzZXI=
  # base64("rootpass123")
  secretkey: cm9vdHBhc3MxMjM=
---
# -------- Deployment --------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: lab7
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        imagePullPolicy: IfNotPresent
        args:
          - server
          - /data
          - --console-address
          - ":9001"
        env:
          - name: MINIO_ROOT_USER
            valueFrom:
              secretKeyRef:
                name: minio-credentials
                key: accesskey
          - name: MINIO_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: minio-credentials
                key: secretkey
          - name: MINIO_BROWSER
            value: "on"
        ports:
          - name: api
            containerPort: 9000
          - name: console
            containerPort: 9001
        volumeMounts:
          - name: data
            mountPath: /data
      volumes:
        - name: data
          emptyDir: {}
---
# -------- ClusterIP Service (API + Console) --------
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: lab7
spec:
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: api
    - name: console
      port: 9001
      targetPort: console
  type: ClusterIP
