# minio/init-buckets-job.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init-buckets
  namespace: lab7
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: mc
        image: minio/mc:latest
        env:
        - name: MINIO_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: accesskey
        - name: MINIO_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: secretkey
        command: ["/bin/sh","-c"]
        args:
          - |
            mc alias set local http://minio.lab7.svc.cluster.local:9000 "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD" --api s3v4
            mc mb -p local/queue || true
            mc mb -p local/output || true
            mc ls local
